<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="false" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="#Farida_DBConnectionString" value="5xbHux6zeB2/vA2QPG9bzkyNo4aUZlZtxSAh1tlQ49TXTgMk3ApwTG58vi6rJMUOZKgMPgieYCHdXx9yzMnOEXcMgKM3fCcZ4W7N900AyE79SaQ0+4x6G3cv4BAdmZnIzYex+iZCwloPYkwSAVYTEWrCkLpClsdZc3HFdS0r9fje4I598vAcdfmwFvqr3Se525S2X12VojtT5Hx3QVMe9C5KnpVj3vqNtpjZhe+Sk6o=" />
 <!--<add key="#Farida_DBConnectionString" value="Dxje1XAOvpDmG5up2fr1vc2pfy66MQucy6EkqqBfW9pyraEB152+Nwl300amT2B5wmen8Az7qR4qI9UcTaEpzVz5VaTdcFLsVUak4tkQ3E9z2svMAFTqkwYxtKhiX88lz2eIZyJHtLPUZ3L+wlQCH990P4ExgJsmlHqyLK6pZ7+qHsIt4ieFFQyxw56ffj9Dydgrv0u48L3cKPaNwqj1BlT1Ibm/nuUXq6YhMo+ZOE/Lf1Mr/afWWpMveJs+Wjc6" />-->

	</appSettings>

  <system.web>
	 
	  <customErrors mode="Off" />
    <!--<globalization enableClientBasedCulture="true" culture="auto:en-US" uiCulture="auto:en"/>-->
    <compilation debug="true" targetFramework="4.7.2">
    <assemblies>
      <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,&#xD;&#xA;PublicKeyToken=cc7b13ffcd2ddd51" />
    </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.7.2" />
    <trust level="Full" originUrl="" />
    <sessionState timeout="60" />

  </system.web>
	<system.webServer>

		<handlers>
			<add name="FastReportHandler" path="FastReport.Export.axd" verb="*" type="FastReport.Web.Handlers.WebExport" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<!--<compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>-->
	</system.codedom>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		
			<add name="#Farida_DBConnectionString" connectionString="data source=108.181.168.89,1497;initial catalog=SCOPOS_Caigo_DB;user id=ENKIMA;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		
		<add name="Model1" connectionString="data source=108.181.168.89,1497;initial catalog=SCOPOS_Caigo_DB;user id=ENKIMA;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model11" connectionString="data source=108.181.168.89,1497;initial catalog=SCOPOS_Caigo_DB;user id=ENKIMA;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model12" connectionString="data source=108.181.168.89,1497;initial catalog=SCOPOS_Caigo_DB;user id=ENKIMA;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model13" connectionString="data source=108.181.168.89,1497;initial catalog=SCOPOS_Caigo_DB;user id=ENKIMA;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model2" connectionString=" data source=108.181.168.89,1497;initial catalog=SCOPOS_Caigo_DB;user id=ENKIMA;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model3" connectionString=" data source=108.181.168.89,1497;initial catalog=SCOPOS_Caigo_DB;user id=ENKIMA;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model4" connectionString=" data source=108.181.168.89,1497;initial catalog=SCOPOS_Caigo_DB;user id=ENKIMA;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--<connectionStrings>
		<add name="Model1" connectionString="data source=A2NWPLSK14SQL-v06.shr.prod.iad2.secureserver.net;initial catalog=SCOPOS_S_DAWAR_DB;user id=INV_Rotana;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model11" connectionString="data source=A2NWPLSK14SQL-v06.shr.prod.iad2.secureserver.net;initial catalog=SCOPOS_S_DAWAR_DB;user id=INV_Rotana;password=T81@1NV#2o2IT02oo2;multipleactiveresultsets=True;encrypt=False;application name=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model12" connectionString="data source=A2NWPLSK14SQL-v06.shr.prod.iad2.secureserver.net;initial catalog=SCOPOS_S_DAWAR_DB;user id=INV_Rotana;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model13" connectionString="data source=A2NWPLSK14SQL-v06.shr.prod.iad2.secureserver.net;initial catalog=SCOPOS_S_DAWAR_DB;persist security info=True;user id=INV_Rotana;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model2" connectionString="data source=A2NWPLSK14SQL-v06.shr.prod.iad2.secureserver.net;initial catalog=SCOPOS_S_DAWAR_DB;persist security info=True;user id=INV_Rotana;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model3" connectionString="data source=A2NWPLSK14SQL-v06.shr.prod.iad2.secureserver.net;initial catalog=SCOPOS_S_DAWAR_DB;user id=INV_Rotana;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Model4" connectionString="data source=a2nwplsk14sql-v06.shr.prod.iad2.secureserver.net;initial catalog=SCOPOS_S_DAWAR_DB;user id=INV_Rotana;password=T81@1NV#2o2IT02oo2;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>-->
</configuration>
